<html lang="en">

<head>
  <title>Harvest vase</title>
  <link href="https://fonts.googleapis.com/css?family=Bentham|Playfair+Display|Raleway:400,500|Suranna|Trocchi" rel="stylesheet">
  <link rel="stylesheet" href="prod.css">
</head>

<body>

   <div class="topnav" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="/purchase">purchases</a>
        
    </div>
   


  <div class="wrapper">
    <div class="product-img">
      <img src="images/sam.jpg" height="420" width="327">
    </div>
    <div class="product-info">
      <div class="product-text">
        <h1 class="pname">galaxy s21</h1>
        <h2 class="price">Rs. 78,000-</h2>
        <p>Qhd amoled display<br> snapdragon888<br> liquid cooling<br> 3 years of promised updates<br> special offers for student accounts </p>
      </div>
      <div class="product-price-btn">
        <form method="post" action="/product">
        
        <input type="hidden" name="pname" value="galaxy s21">  
        <input type="hidden" name="price" value="78,000">
        <button type="submit">buy now</button>
        </form>
      </div>
    </div>
  </div>

</body>

</html>